name: .NET Framework Desktop

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Chequear C贸digo
        uses: actions/checkout@v4

      - name: Instalar Herramientas de Construcci贸n de .NET Framework
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Configurar MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restaurar la Aplicaci贸n
        run: nuget restore ProyectoFinal.sln

      - name: Limpiar Directorios de Construcci贸n
        run: |
          if (Test-Path "${{ github.workspace }}/ProyectoFinal/bin") {
            Remove-Item -Recurse -Force "${{ github.workspace }}/ProyectoFinal/bin"
          }
          if (Test-Path "${{ github.workspace }}/ProyectoFinal/obj") {
            Remove-Item -Recurse -Force "${{ github.workspace }}/ProyectoFinal/obj"
          }

      - name: Construir el Proyecto
        run: msbuild ProyectoFinal.sln /p:Configuration=Release /p:Platform="Any CPU"

      - name: Verificar Directorios y Archivos
        run: |
          dir ${{ github.workspace }}/ProyectoFinal/bin/Release/

      - name: Subir Artefactos
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: ${{ github.workspace }}/ProyectoFinal/bin/Release/

